# Dependencies
node_modules/



# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

 
# Runtime files
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Temporary files
tmp/
temp/

# Uploads (if you don't want uploaded files in Git)
uploads/

# Optional: MongoDB local files
data/